body {
    background-color: #f8f9fa;
}

.container {
    max-width: 600px;
}

.card {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}