            body {
                font-size: 20px;
                font-weight: bold;
                background: #000000; /* Change background to grey for a gaming feel */
                font-family: sans-serif;
                color: #fff; /* Change font color to white for contrast */
            }
    
            .left-align-container {
                margin-left: 0;
                margin-right: auto;
            }
    
            .spinner-border {
                width: 3rem;
                height: 3rem;
                margin-top: 10px;
                border-color: #dcaa35; /* Change spinner color to match text color */
            }
    
            .text-primary   {
                color: #e31313 !important;
            }
            
            .custom-text {
                font-size: 20px;
            }
    
            .card-body {
                background-color: #212529; /* Darken card background for a gaming feel */
                padding: 5px;
                padding-top: 5px;
                padding-bottom: 5px;
                text-align: center; // Add this line to center the content
                color: #fff; /* Change text color to white for contrast */
            }
    
            @media screen and (min-width: 1920px) {
            .card {
                /* existing styles */
                height: 4vh;
                background-color: #000000;
                color: #fff;
                display: flex;
                justify-content: center; /* Horizontally center the text */
                align-items: center; /* Vertically center the text */
                overflow: hidden; /* Add this line */
                overflow: hidden; /* Add this line */
                outline: 2px solid #ffcc49; /* Add white outline */
            }
        }

            h1.text-center.mb-3 {
                font-family: sans-serif;
                color: #fff;
                font-size: 30px;
                font-weight: bold; /* Add this line */
            }

            .header-container {
                margin-bottom: 0px; /* Adjust as needed */
            }

            #nextDrawButton {
                margin-top: 10px;
            }

            .btn-danger {
              color: #fff;
              background-color: #dcaa35;
              border-color: #dcaa35;
            }
            
            .btn-danger:hover {
              color: #fff;
              background-color: #dcaa35;
              border-color: #dcaa35;
            }

            #nextDrawButton
            {
              font-weight: bold;
              margin-top: 20px;
              font-size: 20px;
            }